<div class="container mt-4">
  <div class="p-5">
    <div class="card" data-controller="link-shortener">
      <div class="card-body">
        <h5 class="card-title">Enter URL to shorten</h5>
        <%= form_with model:@link, id: "linkShorterForm", data: { type: :json }  do |form| %>
          <div class="col-auto">
            <%= form.text_field :original_url, class: "form-control", placeholder: "Enter URL" %>
          </div>
          <div class="col-auto">
            <%= form.submit "Shorten", class: "btn btn-primary mt-3" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer visually-hidden" data-link-shortener-target="lookupCodeDiv">
        <div class="alert alert-success">
          <b>Shortened URL:</b><p data-link-shortener-target="lookupCode"></p>
        </div>
      </div>
    </div>
  </div>
</div>